# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
out/
artifacts/
cache/
typechain-types/

# Environment files & secrets
.env
.env.local
.env.testnet
.env.mainnet
*.pem

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
